{% extends 'base.html' %}
{% load static %}
{% block title %}Написание поста{%endblock %} 
{% block content %}
<link rel="stylesheet" href="{% static "css/create-post.css" %}">
<form method="post" class="post-create">
  <label for="title" class="title">Название: </label>
  <input name="title" required type="text" id="title"/>
  <label for="recipe">Рецепт: </label>
  <textarea name="recipe" class="recipe" id="recipe"></textarea>
  <label for="comment">Комментарий: </label>
  <textarea name="comment" class="comment" id="comment"></textarea>
  <div class="wrapper">
    <p class="userdate">Автор: {{ user }}</p>
  </div>
    {% csrf_token %}
  <button type="submit">Создать</button>
</form>
{% endblock %}