{% load static %}
<link rel="stylesheet" href="{% static "css/header.css" %}">
<header>
    <div class="coffee-diary">
        Coffee Diary
    </div>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}" class="logout-form">
        {% csrf_token %}
        <button class="logout-button" type="submit">Log Out</button>
        </form>
        <button class="user-me" onclick="location.href='{% url 'profile' %}'">{{ user.username }}</div>
    {% else %}
        <button class="login-button" onclick="location.href='{% url 'login' %}'";>Log In</button>
        <button class="signup-button" onclick="location.href='{% url 'signup' %}'">Sign Up</button>
    {% endif %}
</header>