<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static "css/body.css" %}">
        <link rel="stylesheet" href="{% static "css/login.css" %}">
    </head>
    <body>
        {% include "header.html" %}
        <form method="post" class="login-box">
            {% csrf_token %}
            <input name="username" required class="username-input" placeholder="Username"/>
            <input name="password" required class="password-input" placeholder="Password" type="password"/>
            <input type="submit" value="Log In" class="submit-button"/>
        </form>
        {% if form.errors %}
            <div class="error-list">
                {% for field in form %}
                    {% for error in field.errors%}
                        <p>{{ field.label }}: {{ error }}</p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
            </div>
        {% endif %}
    </body>
</html>