{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }}{%endblock %} 
{% block content %}
<link rel="stylesheet" href="{% static "css/postpage.css" %}">
<div class="postpage">
  <h1>{{ post.title }}</h1>
  <p class="recipe">{{ post.recipe }}</p>
  <p class="comment">{{ post.comment }}</p>
  <div class="wrapper">
    <p class="userdate">Автор: {{ post.by_user }}</p>
    <p class="userdate">Дата: {{ post.date }}</p>
  </div>
  {% if user.is_authenticated %}
    {% if post.by_user == user %}
  <div class="buttons">
    <button>Редактировать</button>
    <form action="{% url 'delete-post' id=post.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
  </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
