header {
    display: flex;
    background-color: #252525;
    width: 100%;
    height: 5vh;
    color: #fafafa;
    position: static;
    align-items: center;
}
.coffee-diary {
    margin-left: 1vw;
    font-size: 24px;
}
.login-button {
    display: flex;
    position: relative;
    background-color: #b32323;
    height: 60%;
    width: 3.5%;
    margin: auto;
    margin-right: 0.25vw;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: none;
    border: none;
    color: #fafafa;
    transition: all 100ms;
}
.login-button:hover {
    background-color: #7a1818;
    transition: all 100ms;
}
.login-button:active {
    box-shadow: inset 0px 0px 5px #000;
    transition: all 50ms;
}
.signup-button {
    display: flex;
    position: relative;
    background-color: #b32323;
    height: 60%;
    width: 3.5%;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    justify-self: end;
    margin: auto;
    margin-right: 0.75vw;
    margin-left: 0.25vw;
    box-shadow: none;
    border: none;
    color: #fafafa;
    transition: all 100ms;
}
.signup-button:hover {
    background-color: #7a1818;
    transition: all 100ms;
}
.signup-button:active {
    box-shadow: inset 0px 0px 5px #000;
    transition: all 50ms;
}
.user-me {
    display: flex;
    position: relative;
    background-color: #b32323;
    height: 60%;
    min-width: 3.5%;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    justify-self: center;
    margin: auto;
    margin-right: 0.75vw;
    margin-left: 0.25vw;
    box-shadow: none;
    border: none;
    color: #fafafa;
    transition: all 100ms;
}
.user-me:hover {
    background-color: #7a1818;
    transition: all 100ms;
}
.user-me:active {
    box-shadow: inset 0px 0px 5px #000;
    transition: all 50ms;
}
.logout-form {
    display: flex;
    position: relative;
    background-color: transparent;
    height: 60%;
    width: 3.5%;
    margin: auto;
    margin-right: 0.25vw;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}
.logout-button {
    width: 100%;
    height: 100%;
    background-color: #b32323;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: none;
    border: none;
    color: #fafafa;
    transition: all 100ms;
}
.logout-button:hover {
    background-color: #7a1818;
    transition: all 100ms;
}
.logout-button:active {
    box-shadow: inset 0px 0px 5px #000;
    transition: all 50ms;
}