body {
    display: grid;
    width: 100vw;
    height: 100vh;
}
.signup-box {
    display: flex;
    width: 20vw;
    height: 20vh;
    justify-self: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    color: #fafafa;
    gap: 10px;
    border-radius: 2px;
    padding: 4vh 0 4vh 0;
}
.username-input, .password1-input, .password2-input, .email-input {
    background-color: #2c2d2e90;
    border: 0;
    width: 80%;
    height: 15%;
    text-align: center;
    color: #fafafa;
    border-radius: 2px;
}
.submit-button {
    background-color: #9c2525;
    color: #fafafa;
    border: 0;
    box-shadow: none;
    height: 15%;
    width: 35%;
}